$white: #fefefe;
$porcellana: #eceeef;
$silver: #bcbcbc;
$boulder: #797979;
$crimson: #e2261a;
$bordeaux: #780601;
$tuna: #343142;
$charade: #282935;
$blue: #0427a1;
$turchese: #61e6d2;
$prato: #1eae96;
$giungla: #2fad96;
$purple: #3f3a64;
